@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
}

.navbar-light .navbar-nav .active > .nav-link {
  font-family: "Poppins", sans-serif;
}

.bg-light {
  background: #fce2c6 !important;
  width: 100%;
  border-bottom: 1px solid #7D7474;
}

.navbar-collapse {
  background: transparent;
}

.btn-secondary {
  color: #ccc;
  background-color: #79b4b7;
  border-color: #0e603d;
}

.dropdown-menu {
  background-color: #79b4b7;
}

.dropdown-item {
  font-family: "Poppins", sans-serif;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFF8E4;
  color: #7D7474;
}

#header {
  height: 8rem;
  top: 0;
  z-index: 100;
  position: fixed;
}

#header .navbar {
  position: fixed;
}

#header .nav-item {
  padding-left: 1rem;
}

@media all and (min-width: 768px) {
  #header .navbar-brand {
    margin-right: 25rem;
  }
}

#header .navbar-brand img {
  width: 10rem;
}

#destacados {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

#destacados .title {
  font-size: 1.5rem;
}

#destacados .carousel-caption {
  -webkit-text-stroke: 1px black;
  color: #a3ceff;
  font-size: 2rem;
}

#destacados .carousel-caption h5 {
  font-size: 3rem;
  font-weight: 600;
}

#noticias {
  font-family: "Poppins", sans-serif;
  width: 25%;
}

#noticias .link {
  display: flex;
  justify-content: center;
}

#noticias .noti {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid #6C95A3 1px;
  margin-left: 1rem;
}

#noticias .title {
  font-size: 1rem;
  font-weight: 600;
}

#noticias .subTitle {
  font-size: 1rem;
}

#noticias a {
  color: #7D7474;
  text-decoration: none;
}

#noticias img {
  width: 10rem;
  height: 5rem;
}

@media all and (min-width: 768px) {
  #noticias img {
    width: 16rem;
    height: 9rem;
  }
}

#main {
  background-color: #FFF8E4;
  grid-area: main;
}

#main .title {
  padding: 30px 0 30px;
  font-family: "Poppins", sans-serif;
}

#main .separado {
  margin-top: 100vh;
}

#banner {
  font-family: "Poppins", sans-serif;
  z-index: -1;
  height: 100vh;
  background-image: url("../media/img/fondito.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  top: 0;
  position: fixed;
}

#banner .bannerText {
  width: 90%;
  margin: 10rem auto;
  padding: 0;
  border-radius: 2rem;
  background-color: #FFF8E4;
  color: #7D7474;
  z-index: 1;
  list-style: none;
}

@media all and (min-width: 768px) {
  #banner .bannerText {
    margin-top: 15rem;
  }
}

#propiedades {
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
}

#propiedades .card {
  background-color: #e7d6c3;
  margin: 0 0 2rem 0;
}

#propiedades .card-body {
  max-height: 6rem;
}

#propiedades .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

#propiedades a {
  text-decoration: none;
  color: #5e5858;
}

#propiedades .listaPropiedades {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ebdfd1;
  border: solid #746c6c 1px;
}

@media all and (min-width: 768px) {
  #propiedades .listaPropiedades {
    position: fixed;
    z-index: 99;
  }
}

#propiedades ul {
  list-style: square inside;
}

#propiedades .table {
  padding-top: 22rem;
}

#propiedades img {
  width: 300px;
  height: 200px;
}

#nosotros {
  padding-top: 120px;
  font-family: "Poppins", sans-serif;
}

@media all and (min-width: 768px) {
  #nosotros .cuerpoNos {
    display: flex;
    flex-direction: row;
  }
}

#nosotros .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

#nosotros img {
  height: 160px;
  width: 320px;
}

@media all and (min-width: 768px) {
  #nosotros img {
    height: 300px;
    width: 600px;
  }
}

#tasacion {
  padding-top: 120px;
  font-family: "Poppins", sans-serif;
}

#tasacion .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

#tasacion form {
  padding-top: 20px;
}

#contacto {
  font-family: "Poppins", sans-serif;
  padding-top: 120px;
}

#contacto .title {
  font-weight: 700;
  font-size: 1.5rem;
}

#contacto img {
  width: 150px;
  position: fixed;
  bottom: 120px;
  right: 120px;
}

#footer {
  font-family: "Poppins", sans-serif;
  grid-area: footer;
  display: flex;
  flex-flow: column;
  padding: 40px;
  margin-top: 20px;
  font-size: 1rem;
  border-top: 1px solid #7D7474;
  background-color: #FFEBD6;
}

@media all and (min-width: 768px) {
  #footer {
    display: flex;
    flex-flow: row;
  }
}

#footer li {
  list-style: none;
}

#footer .socialNetwork {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 0 20px 0;
}

#footer .socialNetwork img {
  height: 3rem;
  width: 4rem;
  padding-left: 1rem;
}

#footer iframe {
  display: flex;
  align-content: center;
  width: 100%;
}

@media all and (min-width: 768px) {
  #footer iframe {
    margin-left: 10rem;
  }
}
/*# sourceMappingURL=estilos.css.map */