.navbar-light .navbar-nav .nav-link{
    font-family: $fontPOP;
}
.navbar-light .navbar-nav .active > .nav-link{
    font-family: $fontPOP;
}
.bg-light{
	background: $colorMenu !important;
	width: 100%;
    border-bottom: 1px solid $bodyColor;
}
.navbar-collapse{
    background: transparent;
}
.btn-secondary{
    color: #ccc;
    background-color: #79b4b7;
    border-color: #0e603d;
}
.dropdown-menu{
    background-color: #79b4b7;
}
.dropdown-item{
    font-family: $fontPOP;
}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body{
	font-family: $bodyFont;
	background-color: $bgColor;
	color: $bodyColor;
}
#header{
	height: 8rem;
	top: 0;
	z-index: 100;
	position: fixed;
    .navbar{
        position: fixed;
    }
    .nav-item{
        padding-left: 1rem;
    }
    .navbar-brand{
        @media all and (min-width: 768px){
            margin-right: 25rem;
        }
        img{
            width: 10rem;
        }
    }
}
#destacados{
    font-family: $fontPOP;
    display: flex;
	flex-direction: column;
	padding: 40px 0;
    .title{
        font-size: 1.5rem;
    }
    .carousel-caption{
        -webkit-text-stroke: 1px rgb(0, 0, 0);
        color: rgb(163, 206, 255);
        h5{
            font-size: 3rem;
            font-weight: 600;
        }
        font-size: 2rem;
    }
}
#noticias{
    font-family: $fontPOP;
    width: 25%;
    .link{
        display: flex;
        justify-content: center;
    }
    .noti{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: solid #6C95A3 1px;
        margin-left: 1rem;
    }
    .title{
        font-size: 1rem;
        font-weight: 600;
    }
    .subTitle{
        font-size: 1rem;	
    }
    a{
        color: $bodyColor;
        text-decoration: none;
    }
    img{
        width: 10rem;
        height: 5rem;
        @media all and (min-width: 768px){
            width: 16rem;
            height: 9rem;
        }
    }
}
#main{
    background-color: $bgColor;
    grid-area: main;
    .title{
        padding: 30px 0 30px;
        font-family: $fontPOP;
    }
    .separado{
        margin-top: 100vh;    
    }   
}
#banner{
    font-family: $fontPOP;
    z-index: -1;
    height: $BannerA;
    background-image: url('../media/img/fondito.jpg');
    background-position: center;
    background-size: cover;
	width: 100%;
    top: 0;
    position: fixed;
    .bannerText{
        width: 90%;
        margin: 10rem auto;
        padding: 0;
        border-radius: 2rem;
        background-color: #FFF8E4;
        color: #7D7474;
        z-index: 1;
        list-style: none;
    }
    @media all and (min-width: 768px){
        .bannerText{
            margin-top: 15rem;
        }
    }
}
#propiedades{
    font-family: $fontPOP;
	padding-top: 100px;
    .card{
        background-color: #e7d6c3;
        margin: 0 0 2rem 0;
    }
    .card-body{
        max-height: 6rem;
    }
    .title{
        font-family: $fontPOP;
        font-size: 1.5rem;
        font-weight: $fontBold;
    }
    a{
        text-decoration: none;
        color: #5e5858;
    }
    .listaPropiedades{
        @media all and (min-width: 768px){
            position: fixed;
            z-index: 99;
        }
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #ebdfd1;
        border: solid rgb(116, 108, 108) 1px;
    }
    ul{
        list-style: square inside;
    }
    .table{
        padding-top: 22rem;
    }
    img{
        width: 300px;
        height: 200px;
    }

}
#nosotros{
    padding-top: 120px;
    font-family: $fontPOP;
    @media all and (min-width: 768px){
        .cuerpoNos{
            display: flex;
            flex-direction: row;
        }
    }
    .title{
        font-family: $fontPOP;
        font-size: 1.5rem;
        font-weight: $fontBold;
    }
    img{
        @media all and (min-width: 768px){
            height: 300px;
            width: 600px;
        }
        height: 160px;
        width: 320px;
    }
}
#tasacion{
	padding-top: 120px;
    font-family: $fontPOP;
    .title{
        font-family: $fontPOP;
        font-size: 1.5rem;
        font-weight: $fontBold;	
    }
    form{
        padding-top: 20px;
    }
}
#contacto{
    font-family: $fontPOP;
	padding-top: 120px;
    .title{
        font-weight: $fontBold;
        font-size: 1.5rem;	
    }
    img{
        width: 150px;
        position: fixed;
        bottom: 120px;
        right: 120px;
    }
}
#footer{
    font-family: $fontPOP;
	grid-area: footer;
	display: flex;
	flex-flow: column;
    @media all and (min-width: 768px){
        display: flex;
	    flex-flow: row;
    }
    padding: 40px;
	margin-top: 20px;
	font-size: 1rem;
	border-top: 1px solid $bodyColor;
	background-color: $footerBg;
    li{
        list-style: none;
    }
    .socialNetwork{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 0 20px 0;
        img{
            height: 3rem;
            width: 4rem;
            padding-left: 1rem;
        }
    }
    iframe{
        display: flex;
        align-content: center;
        width: 100%;
        @media all and (min-width: 768px){
            margin-left: 10rem;
        }
    }
}