@keyframes fontFadeIn{
    0%{
        opacity: 0;
        transform: translate3d(0, 80%, 0);
    }
    70%{
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.navbar-light .navbar-nav .nav-link{
    font-family: $fontPOP;
}
.navbar-light .navbar-nav .active > .nav-link{
    font-family: $fontPOP;
    color: $fontBanner;
}
.navbar-light .navbar-nav .nav-link{
    color: $navBarFontColor;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: $fontBanner;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: $fontBanner;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%232D527C;' d='M497.537,512H14.463C6.477,512,0,505.523,0,497.537V342.78c0-7.987,6.477-14.463,14.463-14.463 s14.463,6.477,14.463,14.463v140.294h454.147V28.927H342.78c-7.987,0-14.463-6.477-14.463-14.463S334.793,0,342.78,0h154.757 C505.523,0,512,6.477,512,14.463v483.073C512,505.523,505.523,512,497.537,512z'/%3E%3Cpath style='fill:%232D527C;' d='M14.463,270.463C6.477,270.463,0,263.987,0,256V14.463C0,6.477,6.477,0,14.463,0H256 c7.987,0,14.463,6.477,14.463,14.463S263.987,28.927,256,28.927H28.927V256C28.927,263.987,22.45,270.463,14.463,270.463z'/%3E%3Cpath style='fill:%232D527C;' d='M75.209,270.463c-7.987,0-14.463-6.477-14.463-14.463V75.209c0-7.987,6.477-14.463,14.463-14.463 H256c7.987,0,14.463,6.477,14.463,14.463S263.987,89.672,256,89.672H89.672V256C89.672,263.987,83.196,270.463,75.209,270.463z'/%3E%3C/g%3E%3Cpolygon style='fill:%23CEE8FA;' points='378.625,324.125 310.501,256 378.625,187.875 324.125,133.375 256,201.499 187.875,133.375 133.375,187.875 201.499,256 133.375,324.125 187.875,378.625 256,310.501 324.125,378.625 '/%3E%3Cpath style='fill:%232D527C;' d='M324.126,393.089c-3.703,0-7.402-1.413-10.227-4.236L256,330.954l-57.898,57.898 c-5.649,5.646-14.805,5.646-20.455,0l-54.501-54.501c-5.648-5.648-5.648-14.806,0-20.455L181.046,256l-57.898-57.898 c-5.648-5.648-5.648-14.806,0-20.455l54.501-54.501c5.649-5.646,14.805-5.646,20.455,0L256,181.046l57.898-57.898 c5.649-5.646,14.805-5.646,20.455,0l54.501,54.501c5.648,5.648,5.648,14.806,0,20.455L330.954,256l57.898,57.898 c5.648,5.648,5.648,14.806,0,20.455l-54.501,54.501C331.529,391.677,327.828,393.089,324.126,393.089z M256,296.037 c3.703,0,7.402,1.413,10.227,4.236l57.898,57.898l34.045-34.045l-57.898-57.898c-5.648-5.648-5.648-14.806,0-20.455l57.898-57.898 l-34.045-34.045l-57.898,57.898c-5.649,5.646-14.805,5.646-20.455,0l-57.898-57.898l-34.045,34.045l57.898,57.898 c5.648,5.648,5.648,14.806,0,20.455l-57.898,57.898l34.045,34.045l57.898-57.898C248.598,297.449,252.297,296.037,256,296.037z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}
.navbar-toggler.collapsed .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30px' height='30px'%3E%3Cpath fill='%23c2e8ff' d='M1.5 13.5H28.5V16.5H1.5z'/%3E%3Cpath fill='%237496c4' d='M28,14v2H2v-2H28 M29,13H1v4h28V13L29,13z'/%3E%3Cpath fill='%23c2e8ff' d='M1.5 5.5H28.5V8.5H1.5z'/%3E%3Cpath fill='%237496c4' d='M28,6v2H2V6H28 M29,5H1v4h28V5L29,5z'/%3E%3Cg%3E%3Cpath fill='%23c2e8ff' d='M1.5 21.5H28.5V24.5H1.5z'/%3E%3Cpath fill='%237496c4' d='M28,22v2H2v-2H28 M29,21H1v4h28V21L29,21z'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-light{
	background: $colorMenu !important;
	width: 100%;
    border-bottom: 1px solid $bodyColor;
}
.navbar-collapse{
    background: transparent;
}
.dropdown-menu{
    background-color: $bgColor;
}
.dropdown-item{
    font-family: $fontPOP;
    color: $navBarFontColor;
}
.title{
    font-weight: $fontBold;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body{
	font-family: $bodyFont;
	background-color: $bgColor;
	color: $fontColor;
}
#header{
	height: 8rem;
	top: 0;
	z-index: 100;
	position: fixed;
    .navbar{
        position: fixed;
    }
    .nav-item{
        padding-left: 1rem;
    }
    .navbar-brand{
        @media all and (min-width: 768px){
            width: 100%;
        }
        img{
            width: 10rem;
        }
    }
    .navbar-light .navbar-toggler {
        border-color: none;
    }
}
#separado{
    border-top: solid $bodyColor 1px;;
    margin-top: 120vh; 
    @media all and (min-width: 768px){
        margin-top: 100vh; 
    }
} 
#main{
    font-family: $fontPOP;
    background-color: $bgColor;
}
#collage{  
    padding-top: 4rem;
    .media1{
        margin: 0;  
        padding: 0;   
        @media all and (min-width: 768px){
            display: flex;
            margin: 4rem 0 2rem 0;
        }
        .casaC{   
            @media all and (min-width: 768px){
                height: 20rem;
            }  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;       
            background-image: url('../media/img/inicio/casa.jpg');
            background-size: cover;
            background-position: center;
            height: 10rem;
        }
        .deptoC{
            @media all and (min-width: 768px){
                height: 20rem;
            }  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;       
            background-image: url('../media/img/inicio/depto.jpg');
            background-size: cover;
            background-position: center;
            height: 10rem;
        } 
    }
    .media2{   
        margin: 0;  
        padding: 0;   
        @media all and (min-width: 768px){
            display: flex;
            margin: 2rem 0 2rem 0;
        }
        .localC{
            @media all and (min-width: 768px){
                height: 20rem;
            }  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;       
            background-image: url('../media/img/inicio/local.jpg');
            background-size: cover;
            background-position: center;
            height: 10rem;
        } 
        .cocheraC{
            @media all and (min-width: 768px){
                height: 20rem;
            }  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;       
            background-image: url('../media/img/inicio/cochera.jpg');
            background-size: cover;
            background-position: center;
            height: 10rem;
        } 
    }
    .media3{
        margin: 0;  
        padding: 0;   
        @media all and (min-width: 768px){
            display: flex;
            margin: 2rem 0 2rem 0;
        }
        .oficinaC{
            @media all and (min-width: 768px){
                height: 20rem;
            }  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;       
            background-image: url('../media/img/inicio/oficina.jpg');
            background-size: cover;
            background-position: center;
            height: 10rem;
        }  
        .terrenoC{
            @media all and (min-width: 768px){
                height: 20rem;
            }  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;       
            background-image: url('../media/img/inicio/terreno.jpg');
            background-size: cover;
            background-position: center;
            height: 10rem;
        } 
    }
    a{
        padding-right: 0;
        color: $fontDestacados;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000000;
    }
    a:hover{
        transform: scale(1.05);
        filter: brightness(115%);
    }    
    h3{
        font-weight: 600;
    }
    @media all and (min-width: 768px){
        padding-top: 5rem;
        a{
            padding-right: 15px;
        }            
    }
} 
#banner{
    font-family: $fontPOP;
    z-index: -1;
    height: $Banner;
    background-image: url('../media/img/fondoM.jpg');
    background-position: 35% 50%;
    background-size: cover;
    top: 0;
    position: fixed;
    width: 100%;
    a{
        color: $fontBtn;
    }
    .dropdown-toggle {
        white-space:normal;
    }
    .bannerBtn{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .anim{
        animation: fontFadeIn 4s;
        animation-delay: -2s;
        animation-timing-function: ease-in-out;
    }
    .bannerText{
        margin-top: 10rem;
        margin-bottom: 0.2rem;
        border-radius: 0.5rem;
        color: $fontBanner;
        text-shadow: 3px 1px 2px #3d3e3f;
        z-index: 1;
        list-style: none;
    }
    .btn-secondary{
        border: none;
        background-color: $colorBtn;
    }
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    @media all and (min-width: 768px){
        width: 100%;
        padding: 0;
        background-image: url('../media/img/fondo.jpg');
        background-position: 10% 85%;
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
            padding: 0;
            margin-top: 2rem;
        }
        .bannerText{
            margin-top: 8rem;
        }
        .bannerBtn{
            justify-content: center;
        }
        .btn-secondary{
            margin: 0 3rem 0 0;
        }
    }
}
#destacadas{
    font-family: $fontPOP;
    padding: 3rem 1rem 3rem 1rem;
    @media all and (min-width: 768px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h2{
        padding-bottom: 2rem;
    }
    .desBox{
        .carousel-caption{
            text-shadow: 1px 2px #000000;
        }       
    }     
}
#propiedades{
    font-family: $fontPOP;
	padding-top: 100px;
    .card{
        background-color: #e7d6c3;
        margin: 0 0 2rem 0;
    }
    .card-body{
        max-height: 6rem;
    }
    .title{
        font-family: $fontPOP;
        font-size: 1.5rem;
        font-weight: $fontBold;
    }
    a{
        text-decoration: none;
        color: #5e5858;
    }
    .listaPropiedades{
        @media all and (min-width: 768px){
            position: fixed;
            z-index: 99;
        }
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #ebdfd1;
        border: solid rgb(116, 108, 108) 1px;
    }
    ul{
        list-style: square inside;
    }
    .table{
        padding-top: 22rem;
    }
    img{
        width: 300px;
        height: 200px;
    }

}
.separado{
    border-top: solid $bodyColor 1px;;
    margin-top: 70vh; 
    @media all and (min-width: 768px){
        margin-top: 52vh; 
    }
}
#imagenOficina{
    z-index: -1;
    background-image: url('../media/img/nosotros/officeM.jpg');
    height: $Banner;
    background-size: cover;
    background-position: 30%;
    top: -8rem;
    position: fixed;
    width: 100%;
    @media all and (min-width: 768px){
        background-image: url('../media/img/nosotros/office.jpg');
        background-position: center;
    }
}
#nosotros{        
    padding: 2rem 0 2rem 0;
    font-family: $fontPOP;
    .cuerpoNos{
        padding: 1rem;
        background-color: $colorBtn;
        border-radius: 5px;
    }
    span{
        font-weight: $fontBold;
    }
}
#tasacion{
    font-family: $fontPOP;
    .fotoTasacion{
        margin-top: 5rem;
        color: $fontColor;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../media/img/tasacion/tasacion.jpg');
        height: 25rem;
        background-size: cover;
        background-position: 10% 75%;
        width: 100%;
        margin-bottom: 2rem;
        @media all and (min-width: 768px){
            background-image: url('../media/img/tasacion/tasacion.jpg');
        }
    }
    .title{
        font-weight: $fontBold;	
    }

}
#contacto{
    font-family: $fontPOP;
    .flexB{
        padding: 1rem;
        background-color: $colorBtn;
        border-radius: 5px;
        margin-bottom: 2rem;
        @media all and (min-width: 768px){
            display: flex;
            flex-direction: row;
            align-items: center;
        }        
    }
    .fotoContacto{
        margin-top: 5rem;
        color: $fontDestacados;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../media/img/contacto/contactoM.jpg');
        height: 25rem;
        background-size: cover;
        background-position: 10% 75%;
        width: 100%;
        margin-bottom: 2rem;
        @media all and (min-width: 768px){
            display: flex;
            flex-direction: row;
            align-items: center;
            background-image: url('../media/img/contacto/contacto.jpg');
        }
    } 
    h2{
        @media all and (min-width: 768px){
            margin-right: 0.5rem;
        }
    }
    input{
        margin: 0 0 1rem 0;
        display: flex;
    }
    iframe{
        width: 100%;
        @media all and (min-width: 768px){
            width: 100%;
            height: 25rem;
        }      
    }
    .text-center{
        margin: 0.5rem 0 3rem 0;
    }
    .col-4{
        label{
            padding: 0 0.5rem 0 0.52rem;
        }
        .NS{
            display: flex;
            flex-direction: row;
            input{
                margin-top: 1.3rem;
                margin-right: 9rem;  
            }
        }
    }
    .textArea{
        height: 8rem;
    }
    .title{
        font-weight: $fontBold;
    }
}
#footer{
    padding: 2rem;
    font-family: $fontPOP;
	display: flex;
	flex-flow: column;
    margin-top: 0;
	font-size: 1rem;
	border-top: 1px solid $bodyColor;
	background-color: $colorMenu;
    color: $fontFooter;
    h5{
        filter: brightness(60%);
        font-style: italic;
    }
    h4{
        font-size: larger;
    }
    li{
        list-style: none;
    }
    .socialNetwork{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 0 20px 0;
        img{
            height: 3rem;
            width: 4rem;
            padding-left: 1rem;
        }
    }
    iframe{
        width: 100%;
        @media all and (min-width: 768px){
            margin-left: 10rem;
        }
    }
    @media all and (min-width: 768px){
        padding: 40px 390px 20px 390px;
        display: flex;
	    flex-flow: row;
        h4{
            font-size: x-large;
        }
    }
}