$colorMenu: #08171F;
$bodyFont: 'Roboto', sans-serif;
$fontPOP:  'Poppins', sans-serif;
$fontNormal: 400;
$fontLight: 300;
$fontBold: 700;
$BannerA: 100vh;
$fontColor: #cef0ff;
$navBarFontColor: #89a0aa;
$bgColor: #345b6d;
$bodyColor: #F2F7FD;
$footerBg: #08171F;
$fontDestacados: #828494;