$colorMenu: #fce2c6;
$bodyFont: 'Roboto', sans-serif;
$fontPOP:  'Poppins', sans-serif;
$fontNormal: 400;
$fontLight: 300;
$fontBold: 700;
$BannerA: 100vh;
$bgColor: #FFF8E4;
$bodyColor: #7D7474;
$footerBg: #FFEBD6;