$colorMenu: linear-gradient(90deg, rgb(108, 217, 171) 0%, rgb(121, 180, 183) 50%, rgb(80, 135, 223) 100%);
$bodyFont: 'Roboto', sans-serif;
$fontIBM: 'IBM Plex Serif', serif;
$fontNormal: 400;
$fontLight: 300;
$fontBold: 700;
$BannerA: 50rem;
$bgColor: #FFF8E4;
$bodyColor: #7D7474;
$footerBg: #FFEBD6;